body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

/*Текстовые параметры*/

h2.company-principles,
h2.modal-title {
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
  color: #000000;
}

h2.slide-info {
  font-size: 55px;
  line-height: 55px;
  color: #000000;

}

h3.section-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

h3.studio-contacts,
h3.product {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
	text-transform: uppercase;
  color: #000000;
}

p.dev-description {
  color: #000000;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: #000000;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*Стилизация меню и лого*/

.container {
  margin: 0 auto;
  padding: 0 20px;
  width: 1160px;
}

.main-header {
  background-color: #eeeeee;
  height: 545px;
}

.main-header-logo {
  width: 200px;
  height: 65px;
  padding-top: 48px;
}

.logo:hover {
  opacity: 0.8;
}

.logo:active {
  opacity: 0.3;
}

.site-navigation {
  list-style: none;
}

.site-navigation a,
.user-buttons a {
  color: #000000;
}

.site-navigation a:active,
.user-buttons a:active {
  opacity: 0.3;
  color: #000000;
}

.site-navigation a:hover,
.user-buttons a:hover {
	color: #fb565a;
}

.site-navigation a.current {
  border-bottom: 2px solid #fb565a;
  padding-bottom: 9px;
}

.main-navigation {
  font-size: 16px;
	font-weight: 500;
	line-height: 30px;
  color: #000000;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.main-navigation-wrapper {
  width: 100%;
  min-height: 112px;
}

.main-navigation-wrapper .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.site-navigation,
.user-buttons {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-navigation {
  width: 440px;
  height: 39px;
  margin: 0;
  padding: 0;
  padding-top: 75px;
  margin-right: 70px;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

}

.user-buttons {
  width: 125px;
  height: 39px;
  padding: 0;
  margin: 0;
  padding-top: 75px;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

}

.user-buttons .cart {
  position: relative;
  padding-left: 41px;
}

.cart::before {
  content: "";
  position: absolute;
	left: 0;
  top: 1px;
	width: 15px;
	height: 15px;
  background-image: url("../img/decorative/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: #eeeeee;
  opacity: 1;
}

/*Слайдер и кнопки */

.slider-container {
  padding: 0;
  margin: 0;
  min-height: 424px;
  margin-bottom: 80px;
}

.slider-container ul {
  padding: 0;
}

.promo-sliders ul {
  margin: 0;
}

.slider-description {
  float: left;
}

.button {
  text-transform: uppercase;
  border: none;
  text-align: center;
  display: inline-block;
  color: #ffffff;
  border-radius: 3px;
  padding: 13px 0;
}

.slider-button {
  width: 240px;
	background-color: #fb565a;
}

.button-red:hover {
  background-color: #e74246;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.button-red:active {
  background-color: #d7373b;
}

/*Стилизация feature*/

.features {
  margin: 80px 0;
}

.features ul {
  padding: 0;
}

.features-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  height: 348px;
}

.feature-item {
  width: 300px;

}

.feature-button {
  width: 160px;
}

.feature-button.button-red {
  background-color: #fb565a;
}

.feature-button.button-green {
  background-color: #00ca74;
}

.button-green:hover {
  background-color: #00bc6c;
}

.button-green:active {
  background-color: #00aa62;
}

.feature-button.button-yellow {
	background-color: #efc84a;
}

.button-yellow:hover {
  background-color: #eab534;
}

.button-yellow:active {
  background-color: #e5a722;
}

.company-info {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  padding-top: 30px;
  height: 400px;
  margin-bottom: 85px;
}

th {
	font-size: 45px;
	font-weight: 700;
	line-height: 45px;
}

sup {
  font-size: 28px;
  font-weight: 800;
  line-height: 10px;
}

/*блок партнеров*/

.partners {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  padding: 36px 0;
  min-height: 80px;
}

.partners-logo {
  opacity: 0.2;
}

.partners-logo:hover {
  opacity: 1;
}

.partners-logo:active {
  opacity: 0.1;
}

/*блок карты модальное окно*/

.contacts {
  min-height: 416px;
  margin-top: 76px;
  background-image: url("../img/background/map.jpg");
  background-repeat: no-repeat;
  background-position: center center;
}

.contacts-wraper {
  min-height: 416px;
  width: 850px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-info {
  height: 307px;
  width: 269px;
  font: inherit;
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
  color: #666666;
  background-color: #ffffff;
  padding: 0;
  padding-left: 50px;
}

.paragraph-promo {
  margin-top:22px;
  margin-bottom: 20px;
}

.contact-info h3 {
  margin-top: 49px;
}

.write-us-button {
	background-color: #fb565a;
  width: 219px;
  position: relative;
  margin-top: 37px;
  margin-bottom: 15px;
  padding: 16px 0;
}

.map-marker {
  min-height: 190px;
  padding-bottom: 40px;
}

.footer-socials {
  min-height: 218px;
  width: 1160px;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.socials ul {
  padding: 0;
  margin: 0;
}

.social-buttons {
  width: 260px;
  min-height: 216px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.social-button {
  min-width: 78px;
	min-height: 78px;
  border-radius: 50%;
	background-color: #e1e1e1;
}

.button-vk {
  background-image: url(../img/decorative/vk-icon.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.button-fb {
  background-image: url(../img/decorative/fb-icon.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.button-insta {
  background-image: url(../img/decorative/insta-icon.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.deal {
  width: 550px;
  padding-top: 74px;
  margin-right: 210px;
}

.offer {
  font-size: 36px;
	font-weight: 700;
	line-height: 36px;
  color: #000000;
}

.discount {
  padding: 0;
  margin: 0;
  padding-top: 10px;
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
  color: #444444;
}

.modal {
  width: 760px;
	height: 490px;
  padding: 20px 100px 80px;
  margin-bottom: 100px;
	box-shadow: 0 20px 40px rgba(0, 1, 1, 0.75);
}

.modal-title h2 {
  font: inherit;
	font-size: 45px;
	font-weight: 500;
	line-height: 45px;
}

.feedback-form input[type="text"] {
  font: inherit;
  background-color: #ffffff;
  height: 16px;
  border: 2px solid #d7dcde;
  line-height: 18px;
  font-size: : 16px;
  color: #d7dcde;
}

.feedback-form textarea {
  border: 2px solid #d7dcde;
  color: #d7dcde;
}

.feedback-form input[type="text"]:hover,
.feedback-form textarea:hover {
  border: 2px solid #b4b9bb;
  color: #b4b9bb;
}

.feedback-form input[type="text"]:focus,
.feedback-form textarea:focus {
  border-color: #000000;
  color: #000000;
}

.feedback-form input[type="text"]:invalid,
.feedback-form textarea:invalid {
  border-color: #e74246;
  color: #e74246;
}

.modal-send {
  width: 260px;
	background-color: #fb565a;
  font: inherit;
  text-transform: uppercase;
  color: #ffffff;
  padding: 13px 0;
  border: none;
}

/*Каталог*/

.inner-page .main-header {
  margin-bottom: 60px;
  height: 355px;
  background-color: #eeeeee;
  margin-bottom: 50px;
}

.shop-title {
  font: inherit;
  font-size: 55px;
	font-weight: 600;
	line-height: 55px;
  color: #000000;
  min-height: 112px;
  text-align: center;
  margin: 0;
  padding: 77px 0 52px 0;
}

.catalog-columns {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.shop-filters {
  width: 260px;
  height: 2130px;
}

.catalog-sorting {
  width: 760px;
  height: 40px;
  padding: 0;
  margin: 0;
  margin-bottom: 43px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.sorting-field {
  width: 134px;
  padding: 0;
  margin: 0;
  padding-top: 10px;
}

.sorting-options {
  width: 360px;
  padding: 0;
  margin: 0;
  padding-top: 5px;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.name {
  padding-right: 8px;
}

.arrow {
  width: 12px;
  height: 12px;
  padding-top: 14px;
}

.arrow-down {
  background-image: url(../img/decorative/icon-down-dir.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.arrow-up {
  background-image: url(../img/decorative/icon-up-dir.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.catalog {
  width: 760px;
  height: 2130px;
  padding: 0;
  margin: 0;
}

.catalog-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}

.item {
  width: 360px;
  height: 576px;
  margin-bottom: 33px;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.shop-filters legend {
	font-size: 18px;
	font-weight: 700;
	line-height: 30px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.filter {
  margin: 0;
  padding: 0;
  padding: 25px;
  width: 260px;
  background-color: #ffffff;
}

.filter-range-wrapper {
  margin-bottom: 14px;
  padding: 39px 18px;
  border-radius: 3px;
  background-color: #eeeeee;
}

.filter-range {
  position: relative;
}

.filter-range-scale {
  height: 2px;
  background-color: #d7dcde;
}

.filter-range-bar {
  height: 2px;
  width: 75%;
  background-color: #00ca74;
}

.filter-range-handle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  border: 8px solid #ffffff;
  border-radius: 50%;
  background-color: #3f4445;
  cursor: pointer;
}

.filter-range-handle.min {
  left: 0%;
}

.filter-range-handle.max {
  left: 75%;
}

.filter-interval {
  font-size: 0;
}

.filter-interval label {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  font-size: 16px;
  line-height: 1.375;
  text-transform: uppercase;
}

.filter-interval label:last-child {
  text-align: right;
}

.filter-interval input {
  margin-left: 8px;
  width: 80px;
  height: 38px;
  border-radius: 2px;
  border: none;
  font: inherit;
  color: inherit;
  text-align: center;
  background-color: #eeeeee;
}

.filter-parametr + label {
	color: #283136;
}

.filter-parametr:hover + label,
.filter-parametr:focus + label {
	color: #000000;
}

.filter-parametr:disabled + label {
  color: #283136;
  opacity: 0.3;
}

.button-gray {
  font: inherit;
  text-transform: uppercase;
  border: none;
  text-align: center;
  display: inline-block;
  color: #000000;
  background-color: #eeeeee;
  border-radius: 3px;
  padding: 13px 0;
}

.button-gray:hover {
  background-color: #dfdfdf;
}

.button-gray:active {
  background-color: #d5d5d5;
	box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  color: rgba(0, 0, 0, 0.3);
}

.button-gray-show {
  width: 260px;
}

.sorting-field {
	font-size: 18px;
	font-weight: 700;
	line-height: 18px;
  color: #000000;
  text-transform: uppercase;
}

.sorting-options a,
.sort-up-down a {
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
	text-transform: uppercase;
}

.sorting-options a:hover,
.sort-up-down a:hover {
	color: rgba(0, 0, 0, 0.6);
}

.sorting-options a:active,
.sort-up-down a:active,
.set a {
	color: #000000;
}

.item {
  position: relative;
  padding-top: 40px;
}

.item::before {
  content: "";
  position: absolute;
	left: 0;
  top: 0;
	width: 360px;
	height: 40px;
  background-image: url("../img/decorative/browser.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: #eeeeee;
  opacity: 0.12;
}

.item:hover {
  opacity: 1;
}

.product-description {
  position: relative;
}

.product-hover {
  position: absolute;
  display: none;
  background-color: #eeeeee;
  width: 360px;
  height: 215px;
  bottom: 7px;
  text-align: center;
  vertical-align: middle;
  padding: 0 auto;
}

.product-description:hover > .product-hover {
  display: block;
}

.button-buy {
	background-color: #fb565a;
  width: 200px;
  margin-top: 25px;
}

.paginator {
  padding: 0;
  margin: 0;
  margin-top: 26px;
}

.pagination-item {
  width: 50px;
  margin-right: 7px;
}

.pagination-item-current {
  width: 44px;
  padding: 10px 0;
  border: 3px solid rgb(219, 219, 219);
  background-color: #ffffff;
}

.next {
	width: 260px;
}

.inner-page .contacts {
  padding: 0;
  margin: 0;
  margin-top: 37px;
}
